body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom,black -5%, darkblue, darkblue, teal 90%);
}

#titoloUniCard{
    color:white;
    padding: 20px;
    border-bottom: 2px solid white;
    font-size: 80px;
    background-color: cadetblue; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
}
#didascaliaUniCard{
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    height: 500px;
}

#primaFraseDidascalia{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#secondaFraseDidascalia{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
#terzaFraseDidascalia{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#quartaFraseDidascalia{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#introduzioneMeStesso{
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#eccomi{
    font-size: 120px;
}
#foto{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#uni{
    color: aqua;
}

#primaFraseIntroduzione{
    font-size: 80px;
}
#secondaFraseIntroduzione{
  font-size: 100px;
}
#foto-chi-sono{
   margin: 10px auto;
   border-radius: 10px;
}

#Carino{
    background-color: white;
    opacity: 60%;
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
#inBreve{
    display: flex;
    justify-content: center;
    font-family: monospace;
    background-color: black;
    margin: 10px auto;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
   border-radius: 10px;
   height: fit-content;
   font-size: 30px;
}
#inBreve ul{
    color:cyan;
    padding: 0;
    list-style-type: none;
    text-align: start;
    line-height: 1.8;
}
#troppo-breve{
    font-size: 100px;
}
#entriamo-nel-dettaglio{
    font-size: 80px;
}
#mettetevi-comodi{
    font-size: 100px;
}
#allacciatevi{
    font-size: 60px;
}
#dettagli-me{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 10px;
    line-height: 2;
}
#istruzione{
    padding: 10px;
    margin-top: 50px;
    font-size: 25px;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    height: fit-content;
   border-top-right-radius: 30px;
   color: white;
}
#malinconcihe{
    font-size: 80px;
    font-weight: bold;
}
#elementari-medie{
    font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 30px auto;
  font-size: 40px;
}
#medie{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-size: 90px;
    font-style: normal;
    margin: 30px auto;
}
#licenza-media{
    font-weight: bolder;
}
#prima-superiore{
    font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 30px;
  margin: 30px auto;
}
#OSI{
    font-size: 40px;
    background-color: gainsboro;
    color:black;
    padding: 5px;
    border-radius: 10px;
    width: 580px;
    margin: 30px auto;
}
#ultima-superiore{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#impegnativo{
    font-size: 41.5px;
    font-weight: bolder;
}
#TSI{
    background-color: black;
    width: 630px;
    font-size: 40px;
    margin: 30px auto;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 5px;
}
#inizio-coding{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    margin: 30px auto;
    line-height: 1.5;
}
#straordinario{
    font-weight: bolder;
    font-size: 50px;
}
#mondo-coding{
    font-family: monospace;
}
#scritta-coding{
    font-size: 180px;
}
.dettagli-coder{
    background-color: black;
    color: gray;
    padding: 20px;
    width: 580px;
    margin: auto;
    display: block;
    border-top: 4px dashed gray;
   
}
.errore{
    background-color: black;
    color: red;
    padding: 20px;
}
.sfondo-dettagli-coder{
    background-color: black;
    display: none;
}
.errore:hover + .sfondo-dettagli-coder{
   display: block;
}
.dettagli-coder strong{
    color: white;
}
#imparando{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    margin: 30px auto;
    line-height: 1.5;
}
#di-seguito{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 2;
}
#FD{
    font-size: 50px;
    font-weight: bolder;
}
.errore-500{
    background-color: orange;
    color: red;
    font-size: 40px;
}
.sfondo-difficolta{
    background-color: orange;
    display: none;
}
.dettagli-difficoltà{
    color: red;
}
.errore-500:hover + .sfondo-difficolta{
   display: block;
}
#supporto{
    font-size: 20px;
}
#solo{
    font-size: 60px;
    font-weight: bolder;
}
#pillola-blu{
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid blue;
    color: blue;
    width: 300px;
    height: 150px;
}
#pillola-rossa{
    background-color: lightpink;
    border-radius: 10px;
    border: 2px solid red;
    color: red;
    width: 300px;
    height: 150px;
}
#pillole{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}
#titolo-pb{
    background-color: blue;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#titolo-pr{
    background-color: red;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#progetti{
    width: fit-content;
    height: 300px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dettagli-progetti{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: auto;
    position: relative;
    z-index: 2;
}
#sfondo-progetti{
    position: absolute;
    background-color: black;
    opacity: 55%;
    width: 600px;
    height: 250px;
    border-radius: 10px;
    
}
#ma{
    font-size: 100px;
    
}
#soprese{
    font-size: 80px;
}
#non-è{
    font-size: 60px;
}
#percio{
    font-size: 40px;
}
#come{
    font-size: 100px;
}
#intro-cybersec{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#difficoltà-in-breve{
    height: 700px;
    margin-top: 100px;
   
}
#sicurezza{
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-variation-settings:
      "wdth" 100;
}
#titolo-cyber{
    font-size: 80px;
}
#marketing{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:50px;
}
#titolo-marketing{
    font-size: 150px;
}
#ed-ora{
    font-size: 100px;
}
#cloud-computing{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 50px;
}
#aws{
    font-size: 100px;
}



#riassuntino{
    font-size: 80px;
    color: white;
    background-color: black;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}
#ma-si-dai{
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 2px;
}
#fine-istruzione{
    font-size: 50px;
    color: white;
    
}


#finalmente{
    font-size: 125px;
    color: white;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    background-color: black;
    margin-top: 30px;
    font-style: normal;
    border-bottom: 10px solid gray;
    border-top: 10px solid gray;
}
#relax{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
  font-size: 45px;
  color: white;
  line-height: 2;
  margin-top: 100px;
}
#dopo-teoria{
    font-size: 80px;
}
#si-come{
    font-size: 80px;
}
#ok-si-relax{
    font-size: 80px;
}
#domanda-lecita{
    font-size: 50px;
}
#descrizione-hobby{
    font-size: 70px;
}
#premessa{
    font-size: 21px;
    background-color: black;

    color: white;
    border: 5px solid gray;
    width: 750px;
    height: 250px;
    margin: 30px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}
#inter{
    background-color: black;
    color: blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px;
    margin: 0px;
    width: fit-content;
}
#calcio{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
#coding{
    font-size: 30px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    height: fit-content;
}
#guardo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#palla-sx{
    height: 250px;
    width: 135px;
    border-bottom-left-radius: 130px;
    border-top-left-radius: 130px;
    position: absolute;
    left: -135px;
    border: 2px solid black;
}

#palla-dx{
    height: 250px;
    width: 135px;
    border-bottom-right-radius: 130px;
    border-top-right-radius: 130px;
    position: absolute;
    right: -135px;
    border: 2px solid black;
}
#anteprima-calcio{
    display: flex;
    float: left;
    font-size: 40px;
}
#sfondo-calcio{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#come-dicevo{
    font-size: 40px;
}
#anteprima-premessa{
    height: 380px;
    position: relative;
}
#corde {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#puntino{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: auto;
    left: 0px;
    right: 0px;
    top: -52px;
    position: absolute;
    z-index: 1;
}
#corda-1{
    height: 5px;
    width: 300px;
    background-color: wheat;
    transform: rotate(-17deg);
    margin-left: 60px;
    position: relative;
}
#corda-2{
    height: 5px;
    width: 300px;
    background-color: wheat;
    transform: rotate(17deg);
    margin-right: 60px;
    position: relative;
}
#calcio-e-coding{
    font-size: 100px;
}
#sfondo-coding{
    background-position: center;
    background-attachment: fixed;
    background-image: url(Immagini/matrix.jpg);
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dettagli-coding{
    color: rgb(0, 255, 4)
}

#premesso-tada{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    margin: 30px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#competenze{
    margin-top: 200px;
    font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  color: white;
  line-height: 2;
}

#skill{
    font-size: 200px;
}

#richiestissime{
    font-size: 100px;
    font-weight: bolder;
}

#skill-tecniche{
    font-family: "Grenze", serif;
  font-weight: 900;
  font-style: normal;
}
#skills-lingue{
    font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
margin: 50px;
display: flex;
position: relative;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}

#livelli-lingue{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    font-size: 80px;
}

#tedesco, #inglese, #italiano{
    width: 335px;
    height: 200px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    
}

#italiano:hover .retro{
    display: block;
    width: 335px;
    height: 200px;
    position: absolute;
    top: 0;
}
#inglese:hover .retro{
    display: block;
    width: 335px;
    height: 200px;
    position: absolute;
    top: 0;
}
#tedesco:hover .retro{
    display: block;
    width: 335px;
    height: 200px;
    position: absolute;
    top: 0;
}
.retro{
    display: none;
}
.livello-lingua{
    width: 335px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 80%;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ultime-skills{
    font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  font-size: 80px;
}
#e-come{
    font-size: 130px;
}
#ma-non{
    background-color:lightblue;
    color: navy;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
   height: fit-content;
   font-size: 60px;
}
#patente{
    background-color: pink;
    width: 450px;
    color: black;
    height: 250px;
    flex-direction: column;
    display: flex;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}
#anno-patente{
    display: flex;
    font-size: 30px;
}
#operatore-UAS{
    background-color: silver;
    width: 430px;
    margin: 30px auto;
    color: black;
   padding: 10px;
   font-family: "Convergence", sans-serif;
   font-weight: 400;
   font-style: normal;
}
#punto-situzione{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    margin: 40px;
    line-height: 2.5;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
}
#che-manca{
    font-size: 150px;
    margin: 30px;
}
#facciamo-il-punto{
    font-size: 85px;
}
#certoo{
    font-size: 200px;
}
#indimenticabili{
    font-size: 120px;
}
#titolo-esperienze-lavorative{
    font-size: 120px;
    margin: 50px;
}
#inBreveEspScolastiche{

    background-image: url(Immagini/pergamena.PNG);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height:1300px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   padding-top: 150px;
   color: brown;
   font-size: 18px;
   
}

.annoScuola ul{
    list-style-type: none;
    
    font-family: fantasy;
    line-height: 2;
}
.titolo-anno-scuola{
    font-size: 30px;
}
#sfondo-riassuntino{
    margin-top: 100px;
    height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.esperienzaLavorativa{
    background-color: lightblue;
    color: black;
    font-size: 20px;
    width: 500px;
    height: 400px;
  flex-direction: column;
  border-radius: 10px;
   display: flex;
   padding: 20px;
   justify-content: center;
   align-items: center;
}
.esperienzaLavorativa li{
    list-style-type: none;
    text-align: center;
}
#esperienzeLavorative{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
#sfondo-azienda-edwins{
    border-bottom: 2px solid brown;
    background-color: green;
    color: wheat;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
#sfondo-azienda-sas{
    border-bottom: 2px solid rgb(0, 255, 4);
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
#sfondo-azienda-bl{
    border-bottom: 2px solid red;
    background-color: yellow;
    color: red;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

#sfondo-azienda-fg{
    border-bottom: 2px solid white;
    background-color: rgb(0, 115, 255);
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.sfondo-ruolo{
    background-color: gainsboro;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid black;
}
#ultimo-lavoro{
    display: flex;
    justify-content: end;
    align-items: center;
}
#mansioni{
    font-size: 30px; 
    width: 600px;
    color: darkslategrey;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
}
#mansioni-luogo{
    display: flex;
    
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
   
}
#luogo{
    background-color: lightblue;
    width: 100%;
    color: darkblue;
    border-radius: 10px;
}
#titolo-mansioni{
    width: 500px;
    background-color: darkslategray;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#ultimo-step{
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
}
#ultimo-step-titolo{
    font-size: 250px;
}
#tutti-i-viaggi{
    font-size: 80px;
}
#fine-viaggio{
    font-size: 55px;
}
#il-bello{
    font-size: 60px;
}
#non-voglio{
    font-size: 40px;
}
#segreta{
    font-size: 250px;
}
#molto-bene{
    font-size: 100px;
}
#per-entrare strong{
    font-size: 70px;
}
#ma-prima{
    font-size: 75px;
}
#scrivimi{
    font-size: 200px;
}
#saro-felice{
    font-size: 100px;
}
#saluto{
    font-size: 200px;
}
#numero{
    font-size: 50px;
    background-color: black;
    color: cadetblue;
}
#link-qui a{
    color: lightseagreen;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
   text-align: center;
}
footer{
    margin: 50px;
    line-height: 1.5;
}
#baseUnicard{
    position: relative;
}
#sfondoBase{
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    backdrop-filter:blur(20px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
body{
    position: relative;
}


@media screen and (min-width: 0px) {
    #avviso-schermo{
        background-color: white;
        height: fit-content;
        width: fit-content;
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    font-size: 35px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    line-height: 1.8;
    }
}
@media screen and (min-width: 1469px) {
    #sfondoBase{
        display: none;
    }
}